.card {
    @include flex-config(row, center, center);
    width: 30%;
    min-width: 300px;
    margin: 20px 10px;
    position: relative;
    cursor: pointer;

    &__img {
        border-radius: 20px;
        transition: all 0.1s;

        &:hover {
            transform: translate(-2px, -2px);
            box-shadow: 4px 4px 8px 0px rgba(96, 105, 226, 0.6);
        }
    }

    &__heart {
        position: absolute;
        right: 30px;
        top: -20px;
        width: 40px;
        border-radius: 500px;
        background-color: white;
        padding: 5px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            transform: scale(120%);
        }
    }
}
