@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin font-source-sans($size: 16px, $colour: false, $weight: false, $lh: false) {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
}

@mixin font-source-freestyle($size: false, $colour: false, $weight: false, $lh: false) {
    font-family: "FREESCPT", cursive;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
}

@mixin flex-config($flex-direction: false, $justify-content: false, $align-items: false) {
    display: flex;

    @if $justify-content != false {
        justify-content: $justify-content;
    }

    @if $flex-direction != false {
        flex-direction: $flex-direction;
    }

    @if $align-items != false {
        align-items: $align-items;
    }
}
